@import "tailwindcss";
@font-face {
  font-family: RedHatText-Regular;
  font-style: normal;
  src: url(./assets/fonts/static/RedHatText-Regular.ttf);
}
@font-face {
  font-family: RedHatText-Bold;
  src: url(./assets/fonts/static/RedHatText-Bold.ttf);
}
@font-face {
  font-family: RedHatText-SemiBold;
  src: url(./assets/fonts/static/RedHatText-SemiBold.ttf);
}
@font-face {
  font-family: RedHatText-italic;
  src: url(./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}

@theme{
  --font-redHatRegular: RedHatText-Regular;
  --font-redHatSemibold: RedHatText-SemiBold;
  --font-redHatBold: RedHatText-Bold;
  --font-redHatItalic: RedHatText-italic;
  --color-thisRed: hsl(14, 86%, 42%);
  --color-thisGreen: hsl(159, 69%, 38%);
  --color-Rose50: hsl(20, 50%, 98%);
  --color-Rose100: hsl(13, 31%, 94%);
  --color-Rose300: hsl(14, 25%, 72%);
  --color-Rose400: hsl(7, 20%, 60%);
  --color-Rose500: hsl(12, 20%, 44%);
  --color-Rose900: hsl(14, 65%, 9%);
}

body{
  @apply bg-red-50;
}
